@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');

h1{
    color:white;
    font-size: 35px;

}
*
{background:url("../bg.jpg");
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
text-align: center !important;
font-size: 20px;


}
